@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p><strong>StockExchange</strong> was made by Tomasz Szafranalias-Szafrański and aims to provide a quality service to those who wish to trade company stocks.</p>
